* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    background: #444;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'segoe UI', tahoma, geneva, verdana, sans-serif;
    line-height: 1.5;
  }
  
  body.news {
    background: url(background1.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  
  body.news .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.9);
    z-index: -1;
  }
  
.img{
    background-image: url(diu.jpg);
    background-size: cover;
    width:250px;
    height:250px;
    overflow:hidden;
    background-repeat:no-repeat;
    opacity:0.5;
    border-radius:50%;
    background-position:50% 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: yellow 1px solid;
}


 
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }
  
  .text-secondary {
    color: yellow;
  }
  
  main {
    padding: 4rem;
    height: 100%;
  }
  
  main#home {
    overflow: hidden;
  }
  
  main#home h1 {
    margin-top: 20vh;
  }
  
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    background: #444;
  }
   
  .nav ul {
    list-style: none;
    /*background-color: #444;*/
    text-align: left;
    padding: 5 5 5 10;
    margin: 0;
  }

  .nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #747171;
    display: block;
    transition: .6s;
  }
   
  .nav a:hover {
    color: yellow;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }

.gridas{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'lkw pc carpenter' 'speak life technologies' '. patient .';
  grid-row-gap: 50px;
  grid-column-gap: 40px;
  margin: 25px 10px 20px 10px;
  padding: 5px;
}
.icon{
  opacity: 0.9;
}

.lkw{
  grid-area: lkw;
}

.pc{
  grid-area: pc;
}

.carpenter{
  grid-area: carpenter;
}

.speak{
  grid-area: speak;
}

.life{
  grid-area: life;
}

.technologies{
  grid-area: technologies ;
}

.patient{
  grid-area: patient;
}







  
  /*.h2{
      text-align: center;
      font-size: 25px;
      color: #fff;
  }

  li, ul{
      font-size: 15px;
      text-decoration: none;
      list-style-type: none;
      line-height: 1rem;
  }

.gridas{
    display: grid;
    grid-auto-columns: 1fr 1fr ;
    grid-template-areas: 'grid1 grid2';
    gap: 8px;
    margin: 50px auto auto auto;
    padding: 5px;
    text-align: center;
    justify-content: auto;
    align-items: auto;
}

.right-hand{
    grid-area: grid1;

}

.left-hand{
    grid-area: grid2;
}*/

.footer{
  position: fixed;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #444;
  color: #747171;
  text-align: center;
}





 @media screen and (min-width: 600px) {
  .nav li {
    text-align: center;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
   }

    @media screen and (max-width: 600px) {
  
        .img{
          width:200px;
          height:200px;
          margin-top: 100px;
          margin-bottom: 10px;
      }
      .nav li {
        text-align: center;
       }
    
      .gridas{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'lkw' 'pc' 'carpenter' 'speak' 'life' 'technologies' 'patient';
        grid-row-gap: 3rem;
        margin: 25px 10px 20px 10px;
        padding: 10px;
      }
  
        .footer{
          padding: 2px;
        }
      }